@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;400&display=swap");

:root {
  --primary-color: #fde68a;
  --secondary-color: #92400e;
}

body {
  font-family: "Roboto Slab", serif;
  background-color: var(--primary-color);
}

.container {
  padding: 0rem 1rem;
  max-width: 700px;
  margin: auto;
  border-top: 1px solid black;
}

.hero {
  text-align: center;
  color: var(--secondary-color);
}

.hero-heading {
  font-size: 2rem;
}
.hero-small {
  font-size: 1.3rem;
}
.hero-img {
  max-width: 350px;
  display: block;
  margin: auto;
}
.input {
  text-align: center;
}
#yearInput {
  width: 30%;
  padding: 0.8rem;
  margin: 1rem 0rem;
  border: 2px solid black;
  border-radius: 0.8rem;
}
#btn {
  display: block;
  margin: auto;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
#result {
  font-size: 1.5rem;
}
